wheel
setuptools
torch==1.12.1+cu116
torchvision==0.13.1+cu116
torchaudio==0.12.1 
diffusers
ftfy
scipy
transformers
accelerate
huggingface-hub
safetensors
Pillow
fastcore
addict
yapf
numpy
opencv-python
scikit-image
matplotlib
timm
supervision==0.6.0
pycocotools
cython
packaging==21.3
ninja
setuptools==67.8.0
